<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwitchController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SwitchController.Properties.Settings>
            <setting name="SwitchIP" serializeAs="String">
                <value>192.168.0.0</value>
            </setting>
            <setting name="SwitchPort" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="MustUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StreamMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RtspCache" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PreviewSecs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeadZonePx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendIntervalMs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThemeName" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="RtspPort" serializeAs="String">
                <value>6666</value>
            </setting>
            <setting name="AutoScreenOff" serializeAs="String">
                <value>False</value>
            </setting>
        </SwitchController.Properties.Settings>
    </userSettings>
</configuration>